<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]=""></ion-img>
      </ion-avatar>
      <ion-label> Desart Food Recipe </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]=""></ion-img>
      </ion-avatar>
      <ion-label> Mixed Vasitable Food Recipe </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
